<div class="modal fade" id="editReviewModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <form action="/reviews/edit/<%= review.post_id %>" method="POST">

        <div class="editheader modal-header">
          <h5 class="modal-title">Edit Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="editbody modal-body">

          <div class="mb-3">
            <label class="form-label">Clinic Name</label>
            <input name="clinic_name"
                   class="form-control"
                   value="<%= review.clinic_name %>">
          </div>

          <div class="mb-3">
            <label class="form-label">Rating</label>
            <input name="rating"
                   class="form-control"
                   value="<%= review.rating %>">
          </div>

          <div class="mb-3">
            <label class="form-label">Pros</label>
            <textarea name="pros"
                      id="editPros"
                      class="form-control"
                      rows="4"><%- review.pros %></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label">Cons</label>
            <textarea name="cons"
                      id="editCons"
                      class="form-control"
                      rows="4"><%- review.cons %></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label">Recommendation</label>
            <textarea name="recommendation"
                      id="editRec"
                      class="form-control"
                      rows="3"><%- review.recommendation %></textarea>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Save Changes
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

<script>
document.getElementById('editReviewModal')
  .addEventListener('shown.bs.modal', function () {

    if (!CKEDITOR.instances.editPros) {
      CKEDITOR.replace('editPros', { height: 140 });
    }

    if (!CKEDITOR.instances.editCons) {
      CKEDITOR.replace('editCons', { height: 140 });
    }

    if (!CKEDITOR.instances.editRec) {
      CKEDITOR.replace('editRec', { height: 160 });
    }

});
</script>
<script>
document.getElementById('editReviewModal')
  .addEventListener('hidden.bs.modal', function () {

    ['editPros','editCons','editRec'].forEach(id=>{
      if (CKEDITOR.instances[id]) {
        CKEDITOR.instances[id].destroy(true);
      }
    });

});
</script>

<style>
    .editheader {
        background-color: goldenrod;
    }

    .editbody {
        background-color: rgb(161, 221, 161);
    }
</style>