<div class="modal fade" id="editJobModal-<%= job.id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content job-edit-modal">

      <form action="/editjob/<%= job.id %>?_method=PUT" method="POST">
        
        <div class="modal-header job-edit-header">
          <h5 class="modal-title mb-0">
            Edit Job
          </h5>
          <button type="button" class="btn-close btn-close-white"
                  data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <label class="form-label">Title</label>
          <input name="title" class="form-control mb-2"
                 value="<%= job.title %>">

          <label class="form-label">Clinic</label>
          <input name="clinic" class="form-control mb-2"
                 value="<%= job.clinic %>">

          <label class="form-label">Location</label>
          <input name="location" class="form-control mb-2"
                 value="<%= job.location %>">

          <label class="form-label">Salary</label>
          <input name="salary" class="form-control mb-2"
                 value="<%= job.salary %>">

          <label class="form-label">Contact</label>
          <input name="contact" class="form-control mb-2"
                 value="<%= job.contact %>">

          <label class="form-label">Description</label>
          <textarea name="description"
                    class="form-control"
                    rows="4"><%= job.description %></textarea>

        </div>

        <div class="modal-footer border-0 pt-0">
          <button class="btn btn-success px-4">
            Update Job
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
